---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [2]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [3]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [4]:
def answer_one():
    return df[df['Gold']==df['Gold'].max()].index.tolist()[0]

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [5]:
def answer_two():
    df['difference'] = df['Gold'] - df['Gold.1']
    return df[df['difference']==df['difference'].max()].index.tolist()[0]

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [6]:
def answer_three():
    df['rel_difference'] = abs(df['Gold'] - df['Gold.1'])/df['Gold.2']
    filtered = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
    filtered = filtered[filtered['rel_difference'] == filtered['rel_difference'].max()]
    return filtered.index.tolist()[0]

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [7]:
def answer_four():
    return pd.Series(df['Gold.2']*3 + df['Silver.2']*2 + df['Bronze.2']*1, name="Points")

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [8]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [9]:
def answer_five():
    grouped_df = census_df.groupby(['STNAME']).sum()
    return grouped_df[grouped_df['COUNTY'] == grouped_df['COUNTY'].max()].index.tolist()[0]

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [21]:
def answer_six():
    counties_df = census_df[census_df['SUMLEV'] == 50]
    top_counties_df = counties_df.sort_values(by = 'CENSUS2010POP', ascending = False).groupby('STNAME').head(3)
    return top_counties_df.groupby('STNAME').sum().sort_values(by='CENSUS2010POP' , ascending = False).head(3).index.tolist()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [36]:
def answer_seven():
    s_census_df = census_df[census_df['SUMLEV'] == 50][['CTYNAME', 'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']]
    s_census_df['diff'] = abs(s_census_df.max(axis=1) - s_census_df.min(axis=1))
    return s_census_df.sort_values(by='diff', ascending=False).iloc[0][0]

,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,diff
2667,Harris County,4108187,4181238,4262504,4352462,4447577,4538028,429841
209,Los Angeles County,9826009,9896602,9970436,10045175,10109436,10170292,344283
106,Maricopa County,3825597,3871957,3945460,4015328,4090022,4167947,342350
227,San Diego County,3104386,3142256,3184358,3223645,3265700,3299521,195135
372,Miami-Dade County,2508171,2580077,2611183,2641928,2668903,2693117,184946
2623,Dallas County,2373464,2409778,2456444,2485781,2519625,2553385,179921
3017,King County,1937699,1972548,2009200,2047618,2082288,2117125,179426
2581,Bexar County,1722989,1755901,1789834,1823749,1860274,1897753,174764
2786,Tarrant County,1816528,1848011,1882338,1913437,1946346,1982498,165970
1777,Clark County,1953378,1967290,1998204,2028421,2069146,2114801,161423
223,Riverside County,2202286,2237433,2267556,2295816,2328329,2361026,158740
220,Orange County,3017866,3056084,3089343,3120180,3144961,3169776,151910
2793,Travis County,1030431,1062041,1096661,1121968,1150996,1176558,146127
335,Broward County,1753263,1787582,1818491,1843583,1869679,1896425,143162
377,Orange County,1148823,1170461,1202506,1227607,1256495,1288126,139303
233,Santa Clara County,1786844,1814205,1841318,1871140,1896040,1918044,131200
1884,Kings County,2510335,2544744,2573998,2600098,2620720,2636735,126400
2645,Fort Bend County,590581,607482,626808,654626,686650,716087,125506
2609,Collin County,788629,814698,837480,858717,886052,914127,125498
191,Alameda County,1513754,1533052,1556952,1583845,1612850,1638215,124461
2015,Wake County,906965,929334,952576,974717,999271,1024198,117233
357,Hillsborough County,1233831,1271399,1281606,1294039,1318325,1349050,115219
2627,Denton County,666962,685861,708300,729690,754792,780612,113650
1983,Mecklenburg County,923314,945108,968428,991904,1011928,1034070,110756
1901,Queens County,2235573,2261144,2280072,2302881,2322450,2339150,103577
379,Palm Beach County,1324171,1338500,1358396,1375826,1398518,1422789,98618
464,Gwinnett County,808274,824790,839758,858071,877726,895823,87549
226,San Bernardino County,2041642,2064200,2079526,2091599,2110386,2128133,86491
2103,Franklin County,1166296,1180069,1197690,1215200,1234126,1251722,85426
457,Fulton County,926038,950233,977816,984440,996463,1010562,84524
...,...,...,...,...,...,...,...,...
2459,Sanborn County,2356,2361,2324,2320,2333,2355,41
2583,Borden County,643,628,613,638,654,648,41
1686,Blaine County,472,496,512,481,501,487,40
2596,Callahan County,13518,13535,13519,13528,13520,13557,39
994,Sheridan County,2550,2543,2532,2529,2541,2512,38
986,Rooks County,5181,5193,5209,5179,5171,5174,38
2447,McPherson County,2453,2442,2426,2437,2426,2415,38
1630,Carter County,1155,1143,1176,1165,1176,1180,37
1676,Treasure County,720,721,732,700,696,697,36
2427,Faulk County,2365,2371,2372,2371,2345,2337,35
2763,Roberts County,925,933,951,921,921,916,35
1659,Petroleum County,492,490,509,506,489,475,34
2697,Kenedy County,418,440,441,426,412,407,34
2406,Bennett County,3444,3440,3441,3456,3432,3423,33
1838,Harding County,687,709,696,686,677,698,32
2057,Oliver County,1836,1847,1835,1867,1848,1846,32
2717,Loving County,83,95,81,103,87,112,31
290,Mineral County,704,711,710,721,695,726,31
1727,Hooker County,735,743,712,731,726,732,31
2701,King County,288,258,270,272,262,282,30
1684,Arthur County,464,469,482,452,454,456,30
1725,Hitchcock County,2896,2873,2884,2867,2890,2883,29
2046,Kidder County,2439,2446,2435,2426,2424,2417,29
1733,Keya Paha County,821,823,797,795,804,804,28
2047,LaMoure County,4123,4115,4097,4118,4111,4125,28
1719,Grant County,614,633,617,627,620,641,27
1738,Logan County,770,769,773,763,752,777,25
306,San Juan County,708,697,695,699,719,701,24
2461,Stanley County,2974,2974,2962,2957,2965,2954,20
560,Kalawao County,90,90,89,89,89,89,1

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [12]:
def answer_eight():
    return census_df[(census_df['CTYNAME'].str.startswith('Washington')) & (census_df['POPESTIMATE2015'] > census_df['POPESTIMATE2014']) & ((census_df['REGION'] == 1) | (census_df['REGION'] == 2)) ][['STNAME', 'CTYNAME']]